.circle-orange {
  position: absolute;
  aspect-ratio: 1/1;
  background-color: #E14B32;
  border-radius: 50%;
  top: -13px;
  left: -25px;
  z-index: -1;
  padding-left: 110px;
  padding-top: 110px;
}

.circle-yellow {
  position: absolute;
  aspect-ratio: 1/1;
  background-color: #FAAF41;
  border-radius: 50%;
  z-index: -1;
  top: -18px;
  margin-left: -35px;
  padding-left: 110px;
  padding-top: 110px;
}

.triangle {
  display: inline-block;
  position: absolute;
  border-left: 20px solid #FAAF41;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #FAAF41;
  border-top: 20px solid transparent;
  top: 116.8px;
  bottom: 279.8px;
}

.square {
  position: relative;
  min-height: 40px;
  max-height: 40px;
  width: 0;
  aspect-ratio: 1/1;
  background-color: #E14B32;
}

.square:after {
  position: absolute;
  content: "";
  height: 60%;
  border-left: 3px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

html {
  background-color: #1D1B1C;
}

.background {
  background-color: #EBF0F0;
  color: rgb(0, 0, 0);
}

.line {
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.line:before {
  content: "";
  border-bottom: 2px solid #E14B32;
  padding-left: 51px;
  position: absolute;
  top: 9px;
  left: -61px;
}

* {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  height: 820px;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 190px;
  margin-top: 0x;
}
.header .osl-img {
  width: 160px;
  transform: rotate(-20deg);
  margin-top: -42.76px;
  margin-left: -9px;
  margin-bottom: 0;
  margin-right: 0;
}
.header .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding-top: 1px;
  padding-left: 50px;
  padding-bottom: 0px;
  padding-right: 0px;
}
.header .nav-content {
  color: white;
  text-align: right;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-right: 27px;
  margin-top: 12px;
}
.header .orange {
  color: #E14B32;
}

.one {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  position: relative;
}

.content-2 {
  margin-top: 6px;
  margin-left: 50px;
  margin-bottom: 0px;
  margin-right: 0px;
  color: white;
  position: relative;
}

.content-2-large {
  margin-top: -30px;
  margin-left: 0px;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 220px;
  font-family: "Bebas Neue", sans-serif;
  line-height: 180px;
}

.content-2-small {
  font-family: "proxima-nova", sans-serif;
  font-size: 18px;
}

.content-3 {
  position: relative;
  width: 400px;
  height: 100px;
  font-family: "proxima-nova", sans-serif;
  color: white;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 0;
  margin-right: 0;
}
.content-3 .content-3--circle {
  display: none;
  position: absolute;
  min-height: 100px;
  max-height: 100px;
  aspect-ratio: 1/1;
  background-color: #E14B32;
  border-radius: 50%;
  z-index: -1;
  background: rgb(2, 0, 36);
  background: linear-gradient(45deg, #E14B32, #3787C8);
}

.container .content-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .content-container-2 .content {
  position: relative;
  align-items: center;
  z-index: 1;
  margin-top: 140px;
  margin-left: 10px;
  margin-bottom: 0;
  margin-right: 0;
  width: 450px;
  height: 200px;
}
.container .content-container-2 .content .content-heading--small {
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 0;
  margin-right: 0;
}
.container .content-container-2 .content .content-heading--large {
  position: absolute;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 14px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}
.container .content-container-2 .content .content-heading--large .transparent-text {
  -webkit-text-stroke-color: #707070;
  -webkit-text-stroke-width: 1px;
  color: #EBF0F0;
}
.container .content-container-2 .flex {
  display: flex;
  flex-direction: column;
  position: relative;
}
.container .content-container-2 .flex .content-para {
  position: absolute;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  width: 457px;
  min-height: 116px;
  margin-top: 100px;
  margin-left: 26px;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container .content-container-2 .flex .content-last {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  margin-top: 270px;
  margin-left: 25px;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.three {
  margin-top: -65px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.content-row {
  display: flex;
  flex-direction: row;
}

.content-flexi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
  width: 500px;
}
.content-flexi .large {
  font-size: 100px;
  line-height: 0.9em;
}
.content-flexi .small {
  font-size: 24px;
}

.container .content-container-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .content-container-3 .content-3 {
  position: relative;
  align-items: center;
  z-index: 1;
  margin-top: 140px;
  margin-left: 10px;
  margin-bottom: 0;
  margin-right: 0;
  width: 450px;
  height: 200px;
}
.container .content-container-3 .content-heading-s {
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 0;
  margin-right: 0;
}
.container .content-container-3 .content-heading--l {
  position: absolute;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 14px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.line-orange {
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.line-orange:before {
  content: "";
  border-bottom: 2px solid #E14B32;
  padding-left: 76px;
  position: absolute;
  top: 8px;
  left: 169px;
}

.white {
  background-color: white;
}

@media only screen and (min-width: 990px) {
  .container .header .osl-img {
    margin-top: 0;
    margin-left: 200px;
    margin-bottom: 0;
    margin-right: 0;
  }
  .container .header .nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin-top: 0;
    margin-left: 70px;
    margin-bottom: 0;
    margin-right: 367px;
  }
  .container .header .nav .nav-content {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin-top: 70px;
    margin-left: 25px;
    margin-bottom: 0;
    margin-right: 50px;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 160px;
    padding-bottom: 170px;
    padding-right: 0;
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 0;
    margin-right: 0;
  }
  .content-container .content-2 {
    padding-top: 50px;
    padding-left: 0;
    padding-bottom: 20px;
    padding-right: 0;
  }
  .content-container .content-2 .content-2-large {
    font-size: 288px;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
  .content-container .content-2 .content-2-small {
    font-size: 26px;
    margin-left: 20px;
    line-height: 65px;
  }
  .content-container .content-3 {
    margin-top: -66px;
    margin-left: 55rem;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 80px;
    padding-right: 15px;
    font-size: 18px;
    width: 484px;
  }
  .container .content-container-2 {
    flex-direction: row;
    margin-top: 125px;
    margin-left: 350px;
    margin-bottom: 0;
    margin-right: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
  .container .content-container-2 .flex .content-para {
    align-items: center;
    margin-top: 170px;
    margin-left: -784px;
    margin-bottom: 0;
    margin-right: 0;
  }
  .container .content-container-2 .flex .content-last {
    margin-top: 350px;
    margin-left: -784px;
    margin-bottom: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 990px) and (max-width: 1920px) {
  .content-container .content-3 .content-3--circle {
    display: inherit;
    margin-top: -45px;
    margin-left: -45px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  container .content-container-2 {
    flex-direction: row;
  }
}/*# sourceMappingURL=styles.css.map */