*{
    margin: 0;
    padding: 0;
    background-color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

.main-container{
    margin-top: 150px;
    margin-left: 150px;
}

.h{
    background-color: red;
    width: 50px;
    height: 50px;
    white-space: nowrap;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 50%;
    color: white;
    
}
 .hedng{
    background-color: black;
    padding-left: 30px;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
 }

 .img{
    margin-top: 4em;;
    margin-left:11em;
    width: 200px;
    height: 300px;
 }

 .content{
    display: flex ;
 }

.txt{
    color: white;
    font-size: large;
    font-style: italic;
    margin-left: 30em;
    margin-top: 4em;
}

.foot{
    font-weight: bolder;
}

.numbr{
    margin-top: 4em;
    padding-left: 5em;
}
 
hr{
    position: relative;
    width: 560px;
    margin-top: -12px;
    margin-left: 130px;
    color: red;
}